<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @author.email %>
</p>

<h3>Books:</h3>
<ul>
  <% @author.books.each do |book| %>
    <li><div class="book" style="background-image: url('<%= url_for(book.cover_image) %>')">
      <%= link_to book.title, book_path(book) %>
    </div></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_author_path(@author.id) if current_author.id == @author.id %>
<%= link_to 'Back', authors_path %>
