<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @author.email %>
</p>

<h3>Books:</h3>
<ul>
  <% @author.books.each do |book| %>
    <li><div style="background-image: url('<%= url_for(book.cover_image) %>'); background-size:cover;height:150px; width:95px; padding-top:10px; text-align:center">
      <%= link_to book.title, book_path(book), style: "background-color:black; color:white; padding:5px;" %>
    </div></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_author_path(@author.id) if current_author.id == @author.id %>
<%= link_to 'Back', authors_path %>
