<!DOCTYPE html>
<html>
  <head>
    <title>RailsBookshelf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
      <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active"><%= link_to "Home", root_path, { class: "nav-link" } %></li>
              <li class="nav-item"><%= link_to "Books", books_path, { class: "nav-link" } %></li>
              <li class="nav-item"><%= link_to "Authors", authors_path, { class: "nav-link" } %></li>
              <% unless current_author %>
                <li class="nav-item"><%= link_to "Sign in", new_author_session_path, { class: "nav-link" } %></li>
                <li class="nav-item"><%= link_to "Sign up", new_author_registration_path, { class: "nav-link" } %></li>
              <% else %>
                <li class="nav-item"><%= link_to "Hi, #{current_author.name}", author_path(current_author), { class: "nav-link"} %></li>
                <li class="nav-item"><%= link_to("Sign out", destroy_author_session_path, method: :delete, class: "nav-link") %></li>
              <% end %>
            </ul>
          </div>
        </nav>
      </div>

      <div class="row">
        <div class="col">
          <%= yield %>
        </div>
      </div>
    </div>

    </div>
  </body>
</html>
