<!DOCTYPE html>
<html>
  <head>
    <title>RailsBookshelf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <ul>
      <%= link_to "Home", root_path %>
      <%= link_to "Books", books_path %>
      <%= link_to "Authors", authors_path %>
      <% unless current_author %>
        <%= link_to "Sign in", new_author_session_path %>
        <%= link_to "Sign up", new_author_registration_path %>
      <% else %>
        <span><%= current_author.name %></span>
        <%= link_to("Sign out", destroy_author_session_path, method: :delete) %>
      <% end %>
    </ul>
  
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
